<li>
  {{listFilterObject.nombre}} {{listFilterObject.tipocamara}} {{link-to "Edit" "bloques.edit" listFilterObject}} {{link-to "Show" "bloques.show" listFilterObject}} <a href="#" {{action "remove" listFilterObject}}>Remove</a>
</li>