<li>
  <div class="item-description">
  	<span>{{listFilterObject.descripcion}}</span>
  </div>

  <div class="item-action">
	  {{#link-to "cargos.edit" listFilterObject}}
	  	{{fa-icon "pencil-square"}}
	  	<span>Editar</span>
	  {{/link-to}}

	  {{#link-to "cargos.show" listFilterObject}}
	  	{{fa-icon "pencil"}}
	  	<span>Ver</span>
	  {{/link-to}}
	  
	  <a href="#" {{action "remove" listFilterObject}}>
	  	{{fa-icon "trash-o"}}
	  	<span>Eliminar</span>
	  </a>
  </div>
</li>