{{document-title title=controller.breadCrumb}}

<p>
  {{link-to "New Expedientes" "expedientes.new" }}
</p>

<div class="table-list-filter">
  <div class="table-filter">
    <div class="col-md-3">{{input type="text" value=codigo_exp class="pull-left" placeholder="Código de expediente"}}</div>
    <div class="col-md-3">{{input type="text" value=codigo_num class="pull-left" placeholder="Código Número"}}</div>
    <div class="col-md-3">{{input type="text" value=codigo_origen class="pull-left" placeholder="Código de Origen"}}</div>
    <div class="col-md-3">{{input type="text" value=codigo_anio class="pull-left" placeholder="Código de Año"}}</div>
    <div class="col-md-3">{{input type="text" value=sumario class="pull-left" placeholder="Sumario"}}</div>
    <div class="col-md-3">{{input type="text" value=tipo_camara class="pull-left" placeholder="Tipo Cámara"}}</div>
    <div class="col-md-3">{{input type="text" value=tipo class="pull-left" placeholder="Tipo"}}</div>
    <div class="col-md-3">{{input type="text" value=fecha_caducidad class="pull-left" placeholder="Fecha Caducidad"}}</div>
    <div class="col-md-3">{{input type="text" value=fecha class="pull-left" placeholder="Fecha"}}</div>
    <div class="col-md-3">{{input type="text" value=titulo class="pull-left" placeholder="Título"}}</div>
    <div class="col-md-3">{{input type="text" value=voces class="pull-left" placeholder="Voces"}}</div>
    <div class="col-md-3">{{input type="text" value=firmantes class="pull-left" placeholder="Firmantes"}}</div>
    <div class="col-md-3">{{input type="text" value=giros class="pull-left" placeholder="Giros"}}</div>
    <div class="col-md-3">{{input type="text" value=resultados class="pull-left" placeholder="Resultados"}}</div>
    <div class="col-md-3">{{input type="text" value=codigo_estado class="pull-left" placeholder="Código Estado"}}</div>
    <div class="col-md-3">{{input type="text" value=periodo class="pull-left" placeholder="Periodo"}}</div>
    
    {{page-size perPage=perPage class="pull-right"}}
    <button {{action "refresh"}}> Buscar </button>
  </div>
{{#if controller.length}}
  <div class="list-filter">
    <ul>
      <li>
        <a {{action "sortBy" "codigo_exp" }}> Código de expediente {{fa-icon codigo_expIcon size=1 fixedWidth=true}} </a>
        <a {{action "sortBy" "codigo_num" }}> Código Número {{fa-icon codigo_numIcon size=1 fixedWidth=true}} </a>
        <a {{action "sortBy" "codigo_origen" }}> Código de Origen {{fa-icon codigo_origenIcon size=1 fixedWidth=true}} </a>
        <a {{action "sortBy" "codigo_anio" }}> Código de Año {{fa-icon codigo_anioIcon size=1 fixedWidth=true}} </a>
        <a {{action "sortBy" "sumario" }}> Sumario {{fa-icon sumarioIcon size=1 fixedWidth=true}} </a>
        <a {{action "sortBy" "tipo_camara" }}> Tipo Cámara {{fa-icon tipo_camaraIcon size=1 fixedWidth=true}} </a>
        <a {{action "sortBy" "tipo" }}> Tipo {{fa-icon tipoIcon size=1 fixedWidth=true}} </a>
        <a {{action "sortBy" "fecha_caducidad" }}> Fecha Caducidad {{fa-icon fecha_caducidadIcon size=1 fixedWidth=true}} </a>
        <a {{action "sortBy" "fecha" }}> Fecha {{fa-icon fechaIcon size=1 fixedWidth=true}} </a>
        <a {{action "sortBy" "titulo" }}> Título {{fa-icon tituloIcon size=1 fixedWidth=true}} </a>
        <a {{action "sortBy" "voces" }}> Voces {{fa-icon vocesIcon size=1 fixedWidth=true}} </a>
        <a {{action "sortBy" "firmantes" }}> Firmantes {{fa-icon firmantesIcon size=1 fixedWidth=true}} </a>
        <a {{action "sortBy" "giros" }}> Giros {{fa-icon girosIcon size=1 fixedWidth=true}} </a>
        <a {{action "sortBy" "resultados" }}> Resultados {{fa-icon resultadosIcon size=1 fixedWidth=true}} </a>
        <a {{action "sortBy" "codigo_estado" }}> Código Estado {{fa-icon codigo_estadoIcon size=1 fixedWidth=true}} </a>
        <a {{action "sortBy" "periodo" }}> Período {{fa-icon periodoIcon size=1 fixedWidth=true}} </a>
      </li>
    </ul>
  </div>  
  <div class="list-filter">
    {{list-filter list=content partial='expedientes/list-item' properties='codigo_exp codigo_num codigo_origen codigo_anio sumario tipo_camara tipo fecha_caducidad fecha titulo voces firmantes giros resultados codigo_estado periodo' perPage=controller.perPage}}
  </div>
  {{page-numbers content=content totalPages=pages}}
{{else}}
  <p id="blankslate">
    No se encontraron expedientes
  </p>
{{/if}}
</div>