{{document-title title="SPD"}}

<header>
	<div class="logo">
		
	</div>

	<nav class="main-nav-wrap">
		<ul class="main-nav">
			{{#if session.isAuthenticated}}
			  <li><a {{ action 'invalidateSession' }}> <i class="fa fa-fw fa-lg fa-sign-out"></i> Logout</a></li>
			{{else}}
			  <li>{{#link-to 'login'}} <i class="fa fa-fw fa-lg fa-sign-in"></i> Login{{/link-to}}</li>
			{{/if}}
		</ul> <!-- main-nav -->
	</nav><!-- main-nav-wrap -->
</header>

<div class="menu-wrap">
	{{outlet 'nav'}}
</div><!-- main-nav-wrap -->

<div class="content-bar">
	{{bread-crumbs}}
	
	<ul class="action-bar">
		<p>
			<i class="fa fa-plus"></i>
			Aca irian las acciones ponele cambiarian segun en que pagina estoy.. ejemplo listado
			<select class="ember-select">
				<option value="1">Acciones</option>
  				<option value="2">Exportar PDF</option>
  				<option value="3" selected="selected">Exportar Excel</option>
  				<option value="4" selected="selected">Exportar Word</option>
  				<option value="5" selected="selected">Exportar CSV</option>
			</select>
		</p>
	</ul>
</div>

<div class="content-wrap">
	<div class="content">
		{{outlet 'main'}}
	</div>
</div>